/*
*** Colors
*/
$success: #00c67a;
$error: #f67f7f;
$alert: #ffe6e6;
$dark-blue: rgb(104, 66, 251);
$light-gray: #f7f7fa;
$atlantis: #8fce41;
$sea-buckthorn: #f89939;
$brick-red: #cb2b3d;
$fuchsia-blue: #7344c0;
$medium-red-violet: #aa39a8;
$picton-blue: #3aa0ec;

$light-gray: #f7f7fa;
$athens-gray: #d4d9dd70;
$santas-gray: #a0a0a1;
$silver: #aaa;

$bg-main	: #3EAA63;
$color-primary: #000000;
$color-secondary: #828282;
$btn-border-color-main: #BDBDBD;
$btn-color-main: #828282;
$border-color: #E2E2E3;

$green: #47C973;
$dark-green: #2B9F53;
$blue: #526CF7;
$black: #000;
$light-black: #414141;

/*
*** Fonts
*/

$primary-font: "Roboto", sans-serif;
$secondary-font: "Alegreya Sans", sans-serif;
$default-font-size: '10px';